@model UdlaanManagement.Models.User
@{
    ViewBag.Title = "Home Page";
}

@*<div class="row" ng-controller="HomeController">
        <div class="col-md-4 btn-success"> {{Testname}} </div>
        <div class="col-md-4 btn-primary"> {{Test}} </div>
        <div class="col-md-4 btn-danger"> {{happy}} </div>
    </div>*@
<script src="~/Scripts/angular.min.js"></script>
<script src="~/AngularJS/Ng.Module.js"></script>
<script src="~/AngularJS/Ng.Ctrl.js"></script>

<body>
    <h1 class="udlaan-headline">Udlån Management</h1>
    @*@Html.BeginForm(){*@
    <div class="row">
        <div class="form-group col-md-4">
            @Html.TextBoxFor(m => m.userMifare, new { @class = "form-control input-mifare", placeholder = "Bruger Mifare" })
        </div>
        <div class="form-group col-md-4">
            @Html.TextBoxFor(m => m.userMifare, new { @class = "form-control input-mifare", placeholder = "PC Mifare" })
        </div>
        <div class="form-group col-md-4">
            @Html.TextBoxFor(m => m.userMifare, new { @class = "form-control input-mifare", placeholder = "Uni Login" })
        </div>
    </div>

</body>