body .udlaan-headline {
  font-family: fantasy;
  text-align: center;
  font-size: 45px; }

body .input-mifare {
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px; }

body .navbar-header .navbar-brand {
  width: 240px;
  font-family: 'FontAwesome', 'Helvetica'; }

body .body-content .page-title {
  text-align: center;
  font-family: 'FontAwesome', 'Helvetica';
  font-weight: 600; }

footer .copyright {
  float: left; }

footer .socialMediaDisplay {
  display: inline-block;
  float: right;
  padding: 0px 0px 2px 0px;
  list-style: none;
  margin: 0px;
  /*@include Media(xs) {
            float: left;
        }*/ }
  footer .socialMediaDisplay li {
    display: inline-block; }
    footer .socialMediaDisplay li a {
      font-family: 'FontAwesome', 'Helvetica';
      display: inline-block;
      position: relative;
      -webkit-perspective: 800px;
      perspective: 800px;
      overflow: visible;
      height: 30px;
      width: 30px;
      text-indent: -9999px;
      margin-top: 2px; }
      footer .socialMediaDisplay li a.facebook::before, footer .socialMediaDisplay li a.facebook::after {
        content: '\f09a'; }
      footer .socialMediaDisplay li a.facebook::after {
        background-color: #44619D; }
      footer .socialMediaDisplay li a.twitter::before, footer .socialMediaDisplay li a.twitter::after {
        content: '\f099'; }
      footer .socialMediaDisplay li a.twitter::after {
        background-color: #1DA1F2; }
      footer .socialMediaDisplay li a.linkedin::before, footer .socialMediaDisplay li a.linkedin::after {
        content: '\f0e1'; }
      footer .socialMediaDisplay li a.linkedin::after {
        background-color: #0077B5; }
      footer .socialMediaDisplay li a.instagram::before, footer .socialMediaDisplay li a.instagram::after {
        content: '\f16d'; }
      footer .socialMediaDisplay li a.instagram::after {
        background-color: #125688; }
      footer .socialMediaDisplay li a.pinterest-p::before, footer .socialMediaDisplay li a.pinterest-p::after {
        content: '\f231'; }
      footer .socialMediaDisplay li a.pinterest-p::after {
        background-color: #C21221; }
      footer .socialMediaDisplay li a.tumblr::before, footer .socialMediaDisplay li a.tumblr::after {
        content: '\f173'; }
      footer .socialMediaDisplay li a.tumblr::after {
        background-color: #33465D; }
      footer .socialMediaDisplay li a.vine::before, footer .socialMediaDisplay li a.vine::after {
        content: '\f1ca'; }
      footer .socialMediaDisplay li a.vine::after {
        background-color: #00BF8F; }
      footer .socialMediaDisplay li a.google-plus::before, footer .socialMediaDisplay li a.google-plus::after {
        content: '\f0d5'; }
      footer .socialMediaDisplay li a.google-plus::after {
        background-color: #DB4437; }
      footer .socialMediaDisplay li a.vk::before, footer .socialMediaDisplay li a.vk::after {
        content: '\f189'; }
      footer .socialMediaDisplay li a.vk::after {
        background-color: #54769A; }
      footer .socialMediaDisplay li a.flickr::before, footer .socialMediaDisplay li a.flickr::after {
        content: '\f16e'; }
      footer .socialMediaDisplay li a.flickr::after {
        background-color: #FF0081; }
      footer .socialMediaDisplay li a.xing::before, footer .socialMediaDisplay li a.xing::after {
        content: '\f168'; }
      footer .socialMediaDisplay li a.xing::after {
        background-color: #CFDC00; }
      footer .socialMediaDisplay li a.renren::before, footer .socialMediaDisplay li a.renren::after {
        content: '\f18b'; }
      footer .socialMediaDisplay li a.renren::after {
        background-color: #0259A0; }
      footer .socialMediaDisplay li a::before, footer .socialMediaDisplay li a::after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        font-size: 20px;
        text-align: center;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        text-indent: 0px;
        height: 30px;
        padding: 7px 0px; }
      footer .socialMediaDisplay li a::before {
        z-index: 2; }
      footer .socialMediaDisplay li a::after {
        z-index: 1;
        opacity: 0;
        -webkit-transform: translateY(19px) rotateX(-90deg);
        transform: translateY(19px) rotateX(-90deg);
        color: #fff; }
      footer .socialMediaDisplay li a:hover {
        text-decoration: none; }
        footer .socialMediaDisplay li a:hover::before {
          opacity: 0;
          -webkit-transform: translateY(-19px) rotateX(90deg);
          transform: translateY(-19px) rotateX(90deg); }
        footer .socialMediaDisplay li a:hover::after {
          opacity: 1;
          -webkit-transform: rotateX(0);
          transform: rotateX(0); }

